/* Reset default margins and padding */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: auto; /* Prevent scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Ensure the app container stretches full width/height */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Optional: make main content fill width */
main {
  flex: 1;
  width: 100%;
}


/* Custom Scrollbar Styles for the whole app */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6ee7b7, #3caea3);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #57cc99, #2fa88a);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(255, 255, 255, 0.2);
}
